<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather data api</title>
</head>
<body>
<h1>Weather data API</h1>
<h2>URL FORMAT: http://127.0.0.1:5000/api/v1/station/date</h2>
<h2>URL EXAMPLE for 1 station, 1 date: http://127.0.0.1:5000/api/v1/8/1997-10-05 </h2>
<h2>URL EXAMPLE for 1 station, all temperatures: http://127.0.0.1:5000/api/v1/8 </h2>
<h2>URL EXAMPLE for 1 station, yearly temperatures: http://127.0.0.1:5000/api/v1/yearly/8/1997 </h2>
<p>{{data|safe}}</p>


</body>
</html>